{% extends 'administration/layout_administration/list_base.html' %}
{% block interface_title %}Clientes{% endblock %}
{% block list_title %}{{ title }}{% endblock %}
{% load tags %}

{% block columns %}
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre de Usuario</th>
    <th scope="col">Nombre / Apellido Paterno y Materno</th>
    <th scope="col">rut</th>
    <th scope="col">telefono</th>
    <th>Reservas</th>
  </tr>
{% endblock %}

{% block rows %}
  {% if object_list %}
    {% for user in object_list %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.nombre }} {{ user.ap_paterno }} {{ user.ap_materno }}</td>
        <td>{{ user.rut }}-{{ user.dv }}</td>
        <td>+569 {{ user.telefono }}</td>
        <td>
          <button class="btn btn-primary btn-sm" onclick="abrir_modal_reservas('{% url 'administration_cliente_reservas' user.id %}')">
            <i class="fas fa-search"></i>
            Ver reservas
          </button>
        </td>
      </tr>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No hay Datos para mostrar
    </div>
  {% endif %}

  <div class="modal fade pt-5" id="reservas" role="dialog" data-bs-backdrop="static">

  </div>
{% endblock %}

{% block button_create %}
  {% if object_list %}
    <a class="btn btn-success" type="button" href="{% url 'clientes_excel_report' %}">
      <i class="fas fa-file-excel"></i>
      Exportar datos a Excel
    </a>
  {% endif %}
{% endblock %}


{% block script %}
<script type="text/javascript">
  function abrir_modal_reservas(url){
    $("#reservas").load(url, function() {
      $(this).modal('show');
    });
  }
</script>


{% endblock %}
