{% extends 'layout/base_administration.html' %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}

{% block css %}
<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">

<!-- Select2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
{% endblock %}

{% block content %}
<main class="mt-5 pt-3">
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="row">
        <div class="col-xl-12 col-12 mb-4">
          <form enctype="multipart/form-data" method="POST" action="." id="tour_form">
            {% csrf_token %}

            <div class="card card-default">

              <div class="card-header">
                <h3 class="card-title">
                  <span><i class="{{ icon }}"></i></span>
                  {{ title }}
                </h3>
              </div>

              <div class="card-body">
                {{ form }}
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-success">
                  <i class="fas fa-plus"></i>
                  Guardar
                </button>
                <a class="btn btn-secondary" type="submit" href="{% url 'administration_tour' %}">
                  Cancelar
                </a>

              </div>


            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<!-- Flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr("input[type=timepicker]", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i"
  });
</script>

<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#tipoTour').select2({
      theme: "bootstrap-5",
      placeholder: "Buscar Tipo de tour",
      width: 'auto',
      dropdownAutoWidth: true,
      allowClear: true,
    });
  });
</script>
{% endblock %}
