{% extends 'administration/layout_administration/list_base.html' %}
{% block interface_title %}Tours{% endblock %}
{% block list_title %}{{ title }}{% endblock %}
{% load tags %}

{% block columns %}
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Tipo de Tour</th>
    <th scope="col">Nombre de Tour</th>
    <th scope="col">Horario Inicio</th>
    <th scope="col">Horario Termino</th>
    <th scope="col">Costo del Tour</th>
    <th scope="col">Comuna del Tour</th>
    <th scope="col">Estado</th>
    <th>Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
  {% if object_list %}
    {% for tour in object_list %}
      <tr>
        <td>{{ tour.id }}</td>
        <td>
          {% if tour.tipoTour == "1" %}
            Turismo Cultural
          {% elif tour.tipoTour == "2" %}
            Turismo de Naturaleza
          {% elif tour.tipoTour == "3" %}
            Turismo Gastronomico
          {% else%}
            Otro 
          {% endif %}
        </td>
        <td>{{ tour.nombreTour}}</td>
        <td>{{ tour.horario_in | time:"H:i a" }}</td>
        <td>{{ tour.horario_fin | time:"H:i a" }}</td>
        <td>$ {{ tour.costo | numberFormat }}</td>
        <td>{{ tour.comuna }}</td>
        <td>
          {% if tour.status == "1" %}
            <span class="bg-success text-white rounded-pill px-2">
              Disponible
            </span>
          {% else %}
            <span class="bg-secondary text-white rounded-pill px-2">
              No Disponible
            </span>
          {% endif %}
        </td>
        <td>
          <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="editButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-sliders-h"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="editButton">
            <li>
              <a href="{% url 'administration_tour_update' tour.id %}" class="dropdown-item">
                Editar registro
              </a>
            </li>
            <li>
              <button class="dropdown-item" onclick="abrir_modal_edicion('{% url 'administration_tour_status_edit' tour.id %}')">
                Cambiar Estado
              </button>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No hay Datos para mostrar
    </div>
  {% endif %}

  <div class="modal fade pt-5" id="edicion" role="dialog" data-bs-backdropt="static">
    
  </div>
{% endblock %}

{% block button_create %}
  <a href="{% url 'administration_tour_create' %}" class="btn btn-success">
    <i class="fas fa-plus"></i>
    Agregar Servicio
  </a>

{% endblock %}

{% block script %}
<script type="text/javascript">
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock %}
