{% extends 'administration/layout_administration/list_base.html' %}
{% block interface_title %}Traslados{% endblock %}
{% block list_title %} {{ title }} {% endblock %}
{% load tags %}

{% block columns %}
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Lugar Traslado</th>
    <th scope="col">Horario Inicio</th>
    <th scope="col">Horario Termino</th>
    <th scope="col">Costo Traslado</th>
    <th scope="col">Transporte</th>
    <th scope="col">Estado</th>
    <th>Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
  {% if object_list %}
    {% for traslado in object_list %}
    <tr>
      <td>{{ traslado.id }}</td>
      <td>{{ traslado.lugar_tp }}</td>
      <td>{{ traslado.horario_in | time:"H:i a"}}</td>
      <td>{{ traslado.horario_fin | time:"H:i a"}}</td>
      <td>$ {{ traslado.costo_tp | numberFormat }}</td>
      <td>{{ traslado.transporte }}</td>
      <td>
        {% if traslado.status == "1" %}
          <span class="bg-success text-white rounded-pill px-2">
            Disponible
          </span>
        {% else %}
          <span class="bg-secondary text-white rounded-pill px-2">
            No Disponible
          </span>
        {% endif %}
      </td>
      <td>
        <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="editButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-sliders-h"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="editButton">
          <li>
            <a href="{% url 'administration_traslado_update' traslado.id %}" class="dropdown-item">
              Editar registro
            </a>
          </li>
          <li>
            <button class="dropdown-item" onclick="abrir_modal_edicion('{% url 'administration_traslado_status_edit' traslado.id %}')">
              Cambiar Estado
            </button>
          </li>
        </ul>
      </td>
    </tr>
    {% endfor %}
  {% endif %}
  <div class="modal fade pt-5" id="edicion" role="dialog" data-bs-backdropt="static">
    
  </div>
{% endblock%}

{% block button_create %}
<a href="{% url 'administration_traslado_create' %}" class="btn btn-success">
  <i class="fas fa-plus"></i>
  Agregar Traslado
</a>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock %}
