{% extends 'administration/layout_administration/list_base.html' %}
{% block interface_title %}Conductores{% endblock %}
{% block list_title %}{{ title }}{% endblock %}

{% block columns %}
<tr>
  <th scope="col" style="width: 20%;">Id</th>
  <th scope="col" style="width: 20%;">Nombre</th>
  <th scope="col" style="width: 20%;">Apellido</th>
  <th scope="col" style="width: 20%;">Edad</th>
  <th scope="col" style="width: 20%;">Años de Experiencia</th>
  <th>Estado</th>
  <th style="width: 5%;">Opciones</th>
</tr>
{% endblock %}

{% block rows %}
  {% if object_list %}
    {% for driver in object_list %}
      <tr>
        <td>{{ driver.id }}</td>
        <td>{{ driver.nombre }}</td>
        <td>{{ driver.apellido }}</td>
        <td>{{ driver.edad }}</td>
        <td>{{ driver.annio_experiencia }}</td>
        <td>
          {% if driver.status == "1" %}
            <span class="bg-success text-white rounded-pill px-2">
              Activo
            </span>
          {% elif driver.status == "2" %}
            <span class="bg-secondary text-white rounded-pill px-2">
              Inactivo
            </span>
          {% else %}
            Otro
          {% endif %}
        </td>
        <td>
          <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="editButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-sliders-h"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="editButton">
            <li>
              <a href="{% url 'administration_conductor_update' driver.id %}" class="dropdown-item">
                Editar Registro
              </a>
            </li>
            <li>
              <button class="dropdown-item" onclick="abrir_modal_edicion('{% url 'administration_conductor_status_edit' driver.id %}')">
                Cambiar Estado
              </button>
            </li>
          </ul>
        </td>

      </tr>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No hay Datos para mostrar
    </div>
  {% endif %}
  <div class="modal fade pt-5" id="edicion" role="dialog" data-bs-backdrop="static">

  </div>
{% endblock %}

{% block button_create %}
<a href="{% url 'administration_conductor_create' %}" class="btn btn-success">
  <i class="fas fa-plus"></i>
  Agregar Conductor
</a>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock %}

