{% extends '../layout/base_administration.html' %}
{% load static %}
{% load tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row text-center justify-content-center">
          <div class="mt-2 pt-3">
            <div class="col-lg-4 text-center">
              {% include '../layout/mensajes.html' %}
            </div>
            <h2>Dashboard</h2>
          </div>
        </div>

        <div class="row">
  
          <!-- Inicio Datos Departamentos Reservas -->
          <div class="row justify-content-center">
        

            <div class="col-xl-3 col-sm-5 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between px-md-1">
                    <div>
                      <h3 class="text-primary">{{ total_departamentos }}</h3>
                      <p class="mb-0">Total Departamentos</p>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-hotel text-primary fa-3x"></i>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

                                                                                                  
            <div class="col-xl-3 col-sm-5 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between px-md-1">
                    <div>
                      <h3 class="text-success">{{ disponibles }}</h3>
                      <p class="mb-0">Departamentos Disponibles</p>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-check-square text-success fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-5 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between px-md-1">
                    <div>
                      <h3 class="text-info">{{ reservas }}</h3>
                      <p class="mb-0">Departamentos Reservados</p>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-calendar-check text-info fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-5 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between px-md-1">
                    <div>
                      <h3 class="text-danger">{{ reservas_canceladas }}</h3>
                      <p class="mb-0">Reservas Canceladas</p>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-ban text-danger fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-5 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between px-md-1">
                    <div>
                      <h3 class="text-warning">{{ mantencion }}</h3>
                      <p class="mb-0">Departamentos En Mantencion</p>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-tools text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-5 col-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between px-md-1">
                    <div>
                      <h3 class="text-secondary">{{ no_disponibles }}</h3>
                      <p class="mb-0">Departamentos No Disponibles</p>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-eye-slash text-secondary fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Termino Datos Departamentos Reservas -->

       
        
          <!-- Inicio Seccion Graficos -->
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="card h-150">
                <div class="card-header">
                  <span class="me-2"><i class="fas fa-chart-pie"></i></span>
                </div>
                <div class="card-body">
                  <div class="col-lg-12">
                    <div id="container"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                </div>
                <div class="card-body">
                  <div class="col-lg-12">
                    <div id="container-second-graph"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Termino Seccion Graficos -->
      </div>
    </main>


{% endblock %}

{% block script %}
<script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/accessibility.js' %}"></script>

<script type="application/javascript">
Highcharts.chart('container', {
  chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
  },
  title: {
      text: 'Departamentos por Regiones'
  },
  subtitle: {
    text: 'Se presentan la cantidad de departamentos que hay por cada region'
  },
  tooltip: {
    valueDecimals: 0,
    pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
  },
  accessibility: {
      point: {
          valueSuffix: '%'
      }
  },
  plotOptions: {
      pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            valueDecimals: 0,
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
      }
  },
  series: [{
      name: 'Departamentos',
      colorByPoint: true,
      data: [{
        name: "Arica-Parinacota",
        y: {{ arica}}
      }, {
        name: "Tarapacá",
        y: {{ tarapaca }}
      }, {
        name: "Antofagasta",
        y: {{ antofagasta }}
      }, {
        name: "Atacama",
        y: {{ atacama }}
      }, {
        name: "Coquimbo",
        y: {{ coquimbo }}
      }, {
        name: "Valparaiso",
        y: {{ valparaiso }}
      }, {
        name: "Metropolitana de Santiago",
        y: {{ metropolitana }}
      }, {
        name: "Libertador General Bernardo O'Higgins",
        y: {{ libertador }}
      }, {
        name: "Maule",
        y: {{ maule }}
      }, {
        name: "Ñuble",
        y: {{ nuble }}
      }, {
        name: "BioBío",
        y: {{ biobio }}
      }, {
        name: "La Araucanía" ,
        y: {{ araucania }}
      }, {
        name: "Los Ríos",
        y:  {{ rios }}
      }, {
        name: "Los Lagos",
        y: {{ lagos }}
      }, {
        name: "Aisén del General Carlos Ibáñez del Campo",
        y: {{ aisen }}
      }, {
        name: "Magallanes y de la Antártica Chilena",
        y: {{ magallanes }}
      }]
  }]
});
</script>


<script type="application/javascript">
  Highcharts.chart('container-second-graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Ventas por mes'
    },
    subtitle: {
        text: 'Se presenta el valor total del dinero de las reservas por cada mes'
    },
    xAxis: {
        categories: [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre'
        ],
        crosshair: true
    },
    yAxis: {
      allowDecimals: false,

      title: {
          useHTML: true,
          text: 'Monto de ventas'
      },
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
      name: 'Valor Total',
      showInLegend: false,
      colorByPoint: true,
      data: {{ suma_total }}

    }]
});
 </script>


{% endblock %}

