{% extends '../layout/base_administration.html' %}
{% load static %}
{% load tags %}
{% block content %}

    
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12">
            <h4>Dashboard {{ arica }} </h4>
          </div>
        </div>
        <div class="row">
  
          <div class="row">

          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info">{{ total_departamentos }}</h3>
                    <p class="mb-0">Total Departamentos</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-hotel text-info fa-3x"></i>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

      
                                                                                                  
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">{{ disponibles }}</h3>
                    <p class="mb-0">Departamentos Disponibles</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-check-square text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">{{ reservas }}</h3>
                    <p class="mb-0">Departamentos Reservados</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-calendar-check text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-danger">{{ no_disponibles }}</h3>
                    <p class="mb-0">Departamentos No Disponibles</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-ban text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          
       
        

          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  
                </div>
                <div class="card-body">

                  <div class="col-lg-12">
                    <div id="container"></div>
                  </div>
                  

                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                  
                </div>
                <div class="card-body">
                  <div class="col-lg-12">
                    <div id="container-second-graph"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> Data Table
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}

{% block script %}
<script src="{% static 'lib/highcharts/highcharts.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/exporting.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/export-data.js' %}"></script>
<script src="{% static 'lib/highcharts/modules/accessibility.js' %}"></script>

<script type="application/javascript">
  Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Departamentos Por Regiones'
    },
    subtitle: {
        text: 'Se presentan la cantidad de departamentos que hay por cada region'
    },
    xAxis: {
        categories: [
          "Aisén del General Carlos Ibáñez del Campo",
          "Antofagasta",
          "Arica y Parinacota",
          "Atacama",
          "BioBío",
          "Coquimbo",
          "La Araucanía",
          "Libertador General Bernardo O'Higgins",
          "Los Lagos",
          "Los Ríos",
          "Magallanes y de la Antártica Chilena",
          "Maule",
          "Metropolitana de Santiago",
          "Ñuble",
          "Tarapacá",
          "Valparaiso"
                      
        ],
        crosshair: true
    },
    yAxis: {
      allowDecimals: false,

      title: {
          useHTML: true,
          text: 'Cantidad de Departamentos'
      },
    },
    tooltip: {
      valueDecimals: 0,
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
      name: 'Departamentos',
      showInLegend: false,
      colorByPoint: true,
      data: [
        {{ aisen }}, {{ antofagasta }}, {{ arica }}, {{ atacama }},
        {{ biobio }}, {{ coquimbo }}, {{ araucania }}, {{ libertador }},
        {{ lagos }}, {{ rios }}, {{ magallanes }}, {{ maule }},
        {{ metropolitana }}, {{ nuble }}, {{ tarapaca }}, {{ valparaiso }}
      ]

    }]
});
 </script>


<script type="application/javascript">
  Highcharts.chart('container-second-graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Departamentos Por Regiones'
    },
    subtitle: {
        text: 'Se presentan la cantidad de departamentos que hay por cada region'
    },
    xAxis: {
        categories: [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre'
        ],
        crosshair: true
    },
    yAxis: {
      allowDecimals: false,

      title: {
          useHTML: true,
          text: 'Cantidad de Departamentos'
      },
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
      name: 'Departamentos',
      showInLegend: false,
      colorByPoint: true,
      data: {{ suma_total }}

    }]
});
 </script>


{% endblock %}

