{% extends '../layout/base_funcionario.html' %}
{% load static %}
{% load tags %}
{% block title %}Revision de Reservas {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<hr style="color:aliceblue ; height: 0.1px;">
<div class="container mt-3 pt-3">

  <div class="row text-center mb-3">
    <h2 style="font-weight:600; color:#fff;">Reservas</h2>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for reserva in reserva_list%}
    {% if reserva.status == "2" %}

    {% else %}
      <div class="col">
        <div class="card h-100 bg-light" style="border-end-end-radius: 20px; border-bottom-left-radius: 20px;">

          <div class="card-body bg-warning">
            <h5 class="card-text text-dark">
              Codigo: {{ reserva.booking_id }}
            </h5>
          </div>

          <img src="{{ reserva.detalle_dpto.departamento.imagenes.first.imagen.url }}" height="150" alt="{{ reserva.detalle_dpto.departamento.imagenes.first.imagen.url }}" class="img-fluid rounded-start">

          <div class="card-body bg-white text-dark" style="border-radius: 10px;">
            <h5 class="card-text text-dark">
              Cliente: {{ reserva.guest.nombre }} {{ reserva.guest.ap_paterno }}
            </h5>
            <hr/>

            {% if reserva.status == "1" %}
              <p class="card text-success" style="font-weight: 550; font-family: 'Poppins';border: none;">
                Estado: Activa
              </p>
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                Check in: {{reserva.check_in}}
              </p>
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                Check out: {{reserva.check_out}}
              </p>
              <hr>
              <div style="display: flex; justify-content: center;">
                <a style="width: 150px;" href="{% url 'checkin_update' reserva.pk%}" class="btn btn-warning">
                  Check In 
                </a>
                <br style="margin: 10px;">
                <a style="width: 150px;" href="{% url 'checkout_update' reserva.pk%}" class="btn btn-danger disabled">
                  Check Out
                </a>  
              </div>
              <br style="margin: 1px;">
              <div style="display: flex; justify-content: center;">
                <a class="btn btn-outline-dark" type="button" href="{% url 'detalle_reserva_pdf' reserva.pk %}">
                  <i class="fas fa-file-pdf"></i>
                  Descargar detalle
                </a>
              </div>
            {% elif reserva.status == "2" %}
              <p class="card text-danger" style="font-weight: 500; font-family: 'Poppins';border: none;">
                Estado: Cancelada 
              </p>
            {% elif reserva.status == "3" %}
              <p class="card text-warning" style="font-weight: 500; font-family: 'Poppins';border: none;">
                Estado: Terminada
              </p>
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                Check-IN: {{reserva.check_in}}
              </p>
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                Check-OUT: {{reserva.check_out}}
              </p>
              <hr>
              
              <div style="display: flex; justify-content: center;">
                <a class="btn btn-outline-dark" type="button" href="{% url 'detalle_reserva_pdf' reserva.pk %}">
                <i class="fas fa-file-pdf"></i>
                  Descargar detalle
                </a>
              </div>
              <br style="margin: 19px;">
            {% elif reserva.status == "4" %}
              <p class="card text-info" style="font-weight: 500; font-family: 'Poppins';border: none;">
                Estado: En Proceso
              </p>
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                Check in: {{ reserva.check_in }}
              </p>
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                Check out: {{reserva.check_out}}
              </p>
              <hr>
              <div style="display: flex; justify-content: center;">
                <a style="width: 150px;" href="{% url 'checkin_update' reserva.pk%}" class="btn btn-warning disabled">
                  Check In 
                </a>
                <br style="margin: 10px;">
                <a style="width: 150px;" href="{% url 'checkout_update' reserva.pk%}" class="btn btn-danger">
                  Check Out
                </a>  
              </div>
              
              <br style="margin: 1px;">
              <div style="display: flex; justify-content: center;">
                <a class="btn btn-outline-dark" type="button" href="{% url 'detalle_reserva_pdf' reserva.pk %}">
                <i class="fas fa-file-pdf"></i>
                  Descargar detalle
                </a>
              </div>
              {% elif reserva.status == "5" %}
                <p class="card text-primary" style="font-weight: 550; font-family: 'Poppins';border: none;">
                  Estado: En espera
                </p>
                <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                  Check in: {{reserva.check_in}}
                </p>
                <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">
                  Check out: {{reserva.check_out}}
                </p>
                <hr>
                <div style="display: flex; justify-content: center;">
                  <a style="width: 150px;" href="{% url 'checkin_update' reserva.pk%}" class="btn btn-warning">
                    Check In 
                  </a>
                  <br style="margin: 10px;">
                  <a style="width: 150px;" href="{% url 'checkout_update' reserva.pk%}" class="btn btn-danger disabled">
                    Check Out
                  </a>  
                </div>
                <br style="margin: 1px;">
                <div style="display: flex; justify-content: center;">
                  <a class="btn btn-outline-dark" type="button" href="{% url 'detalle_reserva_pdf' reserva.pk %}">
                    <i class="fas fa-file-pdf"></i>
                    Descargar detalle
                  </a>
                </div>
              {% else %}
                  Error
              {% endif %}
          </div>

        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  
</div>
{% endblock %}




{% comment %}
{% block content %}
  <div class="container mt-5 pt-3">

    <div class="row text-center">
      <div class="mt-2 pt-3">
        <h2>Reservas</h2>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for reserva in reserva_list %}
      <div class="col">
        <div class="card h-100 border border-2 border-warning">
          <img src="{{ reserva.detalle_dpto.departamento.imagenes.first.imagen.url }}" height="150" alt="{{ reserva.detalle_dpto.departamento.imagenes.first.imagen.url }}" class="img-fluid rounded-start">
          <div class="card-body bg-light text-center">
            <h4>Codigo: <span class="badge bg-primary">{{ reserva.booking_id }}</span></h4>
            <hr/>
            <h5>
            Estado: 
              {% if reserva.status == "1" %}
              <span class="bg-success badge">Activa</span>
              {% elif reserva.status == "2" %}
                <span class="bg-danger badge">Cancelada</span>
              {% elif reserva.status == "3" %}
                <span class="bg-warning badge">Terminada</span>
              {% else %}
                <span class="bg-info badge">Error</span>
              {% endif %}
            </h5>
            <hr/>
            <h5 class="card-title text-center">Informacion</h5>
            <p class="card-text text-capitalize">
            Cliente: {{ reserva.guest.nombre }} {{ reserva.guest.ap_paterno}}
            </p>
            <p class="card-text">
            Fecha Inicio: {{ reserva.check_in }}
            </p>
            <p class="card-text">
            Fecha Fin: {{ reserva.check_out }}
            </p>
          </div>

          <div class="card-footer text-center">
            {% if reserva.status == "3" %}
            No hay opciones
            {% elif reserva.status_estadia == "0" %}
            <a href="{% url 'checkin_update' reserva.pk %}" class="btn btn-success">
              Check In
            </a>
            {% elif reserva.status_estadia == "1" %}
            <a href="{% url 'checkout_update' reserva.pk %}" class="btn btn-danger">
              Check Out
            </a>

            {% else %}
            No hay opciones

            {% endif %}
          </div>
        </div>
      </div>

      {% endfor %}
    </div>



  </div>

{% endblock %}
{% endcomment %}
