{% extends '../layout/base_funcionario.html' %}
{% block title %}Check IN{% endblock %}
{% block content %}

<div class="col" style="color:black">
    <form action="." method="POST">
        {% csrf_token %}
        <div class="card card-default">


            <div class="card-body" >
              {% for f in form %}
              <label class="text-dark">{{ f.label }}</label>
              {{ f }}
              {% endfor %}
            </div>

          <div class="card-footer">

            <button type="submit" class="btn btn-primary">
               Guardar
            </button>
          </div>

    </form>
</div>

{% endblock%}
