{% extends 'layout/base_administration.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main class="mt-5 pt-3">
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="row">

        <div class="col-xl-12 col-12 mb-4">
          <form method="POST" id="transporte_form">
            {% csrf_token %}
            <div class="card card-default">

              <div class="card-header">
                <h3 class="card-title">
                  <span>
                    <i class="{{ icon }}"></i>
                  </span>
                  {{ title }}
                </h3>
              </div>

              <div class="card-body">
                {{ form.marca.label }}
                {{ form.marca }}
                <p class="pt-2">No esta la Marca?
                <button class="btn btn-outline-success btn-sm btn-add" onclick="abrir_modal_creacion('{% url 'administration_marca_create' %}');" type="button">
                  <i class="{{ icon }}"></i>
                  Agregar Marca
                </button>
                
                </p>

                {{ form.modelo.label }}
                {{ form.modelo }}

              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-success">
                  <i class="far fa-save"></i>
                  Guardar
                </button>

                <button class="btn btn-secondary" onclick="javascript:history.back();">
                  Cancelar
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

</main>
<div class="modal fade pt-5" id="creacion" role="dialog">

</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function abrir_modal_creacion(url){
    $('#creacion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock %}
