{% extends '../layout/base.html' %}
{% load static %}
{% load tags %}
{% block title %}Reserva{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}">
<!-- Booking Section start here -->

<div class="container">
  <hr  style="color:aliceblue ; height: 0.1px;">
    <h2 style="font-weight:600;">Reservar departamento</h2>
    <hr  style="color:aliceblue ; height: 0.1px;">
        <form action="/user/reserva-dpto/reserva" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="jumbotron">
              <label for="username">Departamento</label>
              <input 
                type="text" 
                class="form-control" 
                id="departamento" 
                name="departamento" 
                disabled 
                value="{{ detalle_dpto.departamento.titulo }}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="jumbotron">
                <label for="username">Ubicacion</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="ubicacion" 
                    name="ubicacion" 
                    disabled 
                    value="{{ detalle_dpto.departamento.direccion }} - {{ detalle_dpto.departamento.comuna }}" 
                  />
              </div>
            </div>
          </div>

          <hr style="color:aliceblue ; height: 0.1px;">

        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <label for="person">Nombre del Usuario</label>
              <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required="true"
                  disabled
                  value="{{ request.user }}"
              />
           </div>
          </div>
          <div class="col-md-6">
            <div class="jumbotron">
              <label for="person">Correo</label>
              <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required="true"
                  disabled
                  value="{{ user.correo }}"
              />
            </div>
          </div>
        </div>

        <hr  style="color:aliceblue ; height: 0.1px;">

        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
            <div class="jumbotron">
              <label for="" class="col-12 col-md-6 offset-md-5">Huéspedes</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button 
                    class="btn btn-number"
                    type="button"
                    disabled="disabled"
                    data-type="minus"
                    data-field="capacidad"
                    >
                    <i class="fa-solid fa-minus"></i>
                  </button>
                </span>

              <input 
                  type="text" 
                  id="person"
                  name="capacidad" 
                  class="form-control input-number text-center rounded-pill border-secondary" 
                  value="1" 
                  min="1" 
                  max="{{ detalle_dpto.capacidad }}"
                />

              <span class="input-group-btn">
                <button 
                  class="btn btn-number"
                  type="button"
                  data-type="plus"
                  data-field="capacidad"
                  >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </span> 
          </div>
        </div>
        </div>
        </div>

      <hr style="color:aliceblue ; height: 0.1px;">

        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <label for="password2">Check-in</label>
              <input 
                class="form-control mr-sm-2 bg-success rounded-pill border-success text-center text-white" 
                type="datetime-local" 
                placeholder="Seleccionar fecha Check in"
                id="cin"
                name="check_in"
                required="true"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="jumbotron">
              <label for="password2">Check-out</label>
              <input 
                class="form-control mr-sm-2 bg-warning rounded-pill border-warning text-center text-dark"
                type="datetime-local" 
                placeholder="Seleccionar fecha Check out"
                id="cout"
                name="check_out"
                required="True"
                />
          </div>
        </div>
        </div>

        <hr style="color:aliceblue ; height: 0.1px;">
        <div class="col-12 col-lg-6 offset-md-3">
          <h5 style="font-size: 15px;
                     font-weight: bold;
                     color: rgb(255, 255, 255); 
                     background-color: rgb(195, 47, 47);
                     border-radius:5px;
                     opacity: 1;
                     text-align: center;
                     padding: 7px;">
                     Si quieres agregar servicios opcionales puedes seleccionar los siguientes:

          </h5>
        </div>

        <hr style="color:aliceblue ; height: 0.1px;">

        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <label for="username" id="lbl1">Servicio Turistico <label style="color:red; font-size: 13px;">*Costo extra</label></label>
              <select class="btn btn-outline-success btn-md" name="tour" id="tour" style="width:640px;border-radius:10px;">
                <option value="0" label="Seleccionar">0</option>
                    {% for tour in all_tours %}
                    <option id="tour_id" value="{{ tour.id }}" label="{{ tour }} ${{ tour.costo | numberFormat}}">
                    {{ tour.costo }}
                    </option>
                    {% comment %}
                    <option id="tour_id" value="{{ tour.id }}">{{ tour }} ${{ tour.costo | numberFormat }}</option> 

                    {% endcomment  %}
                    {% endfor %}
                  </select>
            </div> 
          </div>

          <div class="col-md-6">
            <div class="jumbotron">
              <label for="password2" id="lbl2">Servicio de Transporte <label style="color:red; font-size: 13px;"> *Costo extra</label></label>
              <select class="btn btn-outline-success btn-md" name="lugar" id="lugar" style="width:640px;border-radius:10px;">
                <option value="0" label="Seleccionar">0</option>
                    {% for ts in all_transp %}
                    <option id="lugar_id" value="{{ ts.id }}" label="{{ ts.lugar_tp }} ${{ ts.costo_tp | numberFormat }}">
                    {{ ts.costo_tp }}
                    </option>  
                    {% endfor %}
              </select>
              
            </div>
          </div>
        </div>

        <hr style="color:aliceblue ; height: 0.1px;">

        <div class="form-group">
          <label for="password2">Precio</label>
          <input
              type="text"
              class="form-control"
              id="total_reserva"
              name="total_reseva"
              placeholder="0"
              disabled
          />
        </div>
        <hr>
        <div style="display: flex; justify-content: center;">
          <a style="padding: 10px 32px;" href="{% url 'home' %}" type="submit" class="btn btn-outline-danger">Cancelar</a>
          <br style="margin: 10px;">
          {% comment %}
          <a href="{% url 'home_reserva_pay' %}" type="submit" class="btn btn-outline-primary">
            Reservar ahora
          </a>   
          {% endcomment %}
          <button class="btn btn-outline-primary" type="submit">
            Reservar
          </button>
          <input type="hidden" name="detalledptoid" value="{{ detalle_dpto.id }}" />
        </div>
        <hr style="color:aliceblue ; height: 0.1px;">

      </form>   
    </div>
</div>

<script>

  function check() {
    let output = document.getElementById("total_reserva")

    let startDate = new Date(document.getElementById("cin").value);
    let endDate = new Date(document.getElementById("cout").value);

    let price_per_night = "{{ detalle_dpto.precio }}"

    let selectTour = document.querySelector("#tour");
    let price_tour = selectTour.options[selectTour.selectedIndex].text;

    let selectTransporte = document.querySelector('#lugar');
    let price_transporte = selectTransporte.options[selectTransporte.selectedIndex].text;



    if (startDate.getTime() && endDate.getTime()) {

      if (price_tour == 'Seleccionar') {
        price_tour = 0
        console.log(price_tour)
      } else {
        price_tour = parseInt(price_tour)
        console.log(price_tour)
      }

      if (price_transporte == 'Seleccionar'){
        price_transporte = 0
        console.log(price_transporte)
      } else {
        price_transporte = parseInt(price_transporte)
        console.log(price_transporte)
      }
      
      let timeDifference = endDate.getTime() - startDate.getTime();

      let dayDifference = Math.abs(timeDifference / (1000 * 3600 * 24));
      output.value = "$ " + (dayDifference * price_per_night + price_tour + price_transporte) ;

    } else {
      output.value = 0;
    }
    
  };
  document.querySelector('#cin').addEventListener("change", check, false);
  document.querySelector('#cout').addEventListener("change", check, false);
  document.querySelector('#tour').addEventListener("change", check, false);
  document.querySelector('#lugar').addEventListener("change", check, false);


 </script>
{% endblock %}

