{% extends '../layout/base.html' %}
{% load static %}
{% load tags %}
{% block title %}Mis Reservas {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}">
<div class="container">
<div class="col ms-2">
<h2 class="text-center" style="color:#fff;padding-top: 25px;">Mis Reservas</h2>
<hr style="color:aliceblue ; height: 0.1px;">

  {% for reserva in reservas %}
  {% if reserva.status == '1' %}
  <div class="row" style="display:flex; align-items: center;justify-content: center;">
  <div class="col-md-8">
    <div class="card h-100 bg-light" style="border-end-end-radius: 20px; border-bottom-left-radius: 20px;">
      <div class="card-body bg-warning" >
        <h5 class="card-text text-dark">Código: {{reserva.booking_id}}</h5>
      </div>
      <img src="{{ reserva.detalle_dpto.departamento.imagenes.first.imagen.url }}"  alt="{{ reserva.detalle_dpto.departamento.imagenes.first.imagen.url }}" class="img-fluid rounded-start">     
      <div class="card-body bg-white text-dark" style="border-radius: 10px;">
        <h5 class="card-text" style="color:#000;">{{ reserva.detalle_dpto.departamento.titulo }} - {{reserva.detalle_dpto.departamento.comuna}}</h5>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <p class="card text-success" style="font-weight: 550; font-family: 'Poppins';border: none;">Estado: Activa</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="jumbotron">
              <p class="card-text" style="font-size:15px; font-weight: 500; font-family: 'Poppins';color: rgb(215, 33, 33);">Check-IN: {{reserva.check_in}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <p class="card-text" style="font-weight: 500; font-family: 'Poppins'">Usuario: {{ reserva.guest }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="jumbotron">
              <p class="card-text" style="font-size:15px; font-weight: 500; font-family: 'Poppins';color: rgb(215, 33, 33);">Check-OUT: {{reserva.check_out}}</p>
          </div>
          </div>
        </div>
        <hr>
        <p class="card-text" style="font-weight: 500; font-family: 'Poppins'; font-size: 20px;">SERVICIOS EXTRA</p>
        <hr>
        <div>

        {% if reserva.tour and reserva.detalle_tp%}
        <form method="post" onsubmit="return cancelarTour(this);" action="{% url 'home_cancelar_tour' reserva.id %}">
          {% csrf_token %}
          <input class="btn btn-outline-danger btn-md" style="float: right;width: 160px;" type="submit" value="Cancelar Tour"/>
        </form>
        <p style="font-weight: 500; font-family: 'Poppins'">Tour: {{ reserva.tour }}</p>

        <form method="post" onsubmit="return cancelarTransporte(this);" action="{% url 'home_cancelar_transporte' reserva.id %}">
          {% csrf_token %}
          <p style="font-weight: 500; font-family: 'Poppins'">Lugar: {{ reserva.detalle_tp.lugar_tp }}</p>
          <input class="btn btn-outline-danger btn-md" style="float: right;width: 160px;" type="submit" value="Cancelar Transporte"/>
          <p style="font-weight: 500; font-family: 'Poppins'">Tipo Transporte: {{ reserva.detalle_tp.transporte.get_tipo_transporte_display }}</p>
        </form>

        {% elif reserva.tour and not reserva.detalle_tp %}
          <form method="post" onsubmit="return cancelarTour(this);" action="{% url 'home_cancelar_tour' reserva.id %}">
            {% csrf_token %}
            <input class="btn btn-outline-danger btn-md" style="float: right;width: 160px;" type="submit" value="Cancelar Tour"/>
            </form>
            <p style="font-weight: 500; font-family: 'Poppins'">Tour: {{ reserva.tour }}</p>
            <a href="{% url 'detalle_reserva' reserva.id %}"><button class="btn btn-success btn-md" style="float: center;width: 160px;">Añadir transporte</button></a>

        {% elif not reserva.tour and reserva.detalle_tp %}
          <a href="{% url 'detalle_reserva' reserva.id %}"><button class="btn btn-success btn-md" style="float: right;width: 160px;">Añadir tour</button></a>
          <form method="post" onsubmit="return cancelarTransporte(this);" action="{% url 'home_cancelar_transporte' reserva.id %}">
            {% csrf_token %}
            <p style="font-weight: 500; font-family: 'Poppins'">Lugar: {{ reserva.detalle_tp.lugar_tp }}</p>
            <input class="btn btn-outline-danger btn-md" style="float: right;width: 160px;" type="submit" value="Cancelar Transporte"/>
            <p style="font-weight: 500; font-family: 'Poppins'">Tipo Transporte: {{ reserva.detalle_tp.transporte.get_tipo_transporte_display }}</p>
          </form>
        {% else %}
          <a style="margin-bottom: 5px;" href="{% url 'detalle_reserva' reserva.id %}"><button class="btn btn-success btn-md" style="float: center;width: 180px;">Añadir servicios extra</button></a>
      {% endif %}
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------------------->
    <div style="display: flex; justify-content: center; margin-top: 5px; margin-bottom: 5px;" >
      <a class="btn btn-outline-dark" type="button" href="{% url 'detalle_reserva_pdf' reserva.pk %}">
      <i class="fas fa-file-pdf"></i>
        Descargar detalle
      </a>
    </div>
    <div class="card-footer bg-white text-end">
      <form method="post" onsubmit="return cancelarReserva(this);" action="{% url 'home_cancelar_reserva' reserva.id %}">
        {% csrf_token %}
        <div class="d-grid gap-3 col-6 mx-auto">
          <input class="btn btn-danger btn-md" type="submit" value="Cancelar Reserva"/>
      </div>
      </form>
    </div>
  </div>
</div>    
</div>
</div>
</div>
  <br style="margin: 10px;">
  {% endif %}

  <script>
    function cancelarReserva(form) {
      Swal.fire({
        "title": "Estas seguro de cancelar la reserva?",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, volver a mis reservas",
        "confirmButtonText": "Si, Cancelar reserva",
        "dangerMode": true,
      })
        .then(function(result) {
          if(result.isConfirmed) {
            form.submit()
            Swal.fire('Cancelada!', 'Tu reserva ha sido cancelada', 'success')
          } 
        })
        return false;
    }
  </script>
  <script>
    function cancelarTour(form) {
      Swal.fire({
        "title": "Estas seguro de cancelar el tour?",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, volver a mis reservas",
        "confirmButtonText": "Si, Cancelar tour",
        "dangerMode": true,
      })
        .then(function(result) {
          if(result.isConfirmed) {
            form.submit()
            Swal.fire('Cancelado!', 'El servicio turistico ha sido cancelado', 'success')
          } 
        })
        return false;
    }
  </script>

  <script>
    function cancelarTransporte(form) {
      Swal.fire({
        "title": "Estas seguro de cancelar el transporte?",
        "icon": "question",
        "showCancelButton": true,
        "cancelButtonText": "No, volver a mis reservas",
        "confirmButtonText": "Si, Cancelar el transporte",
        "dangerMode": true,
      })
        .then(function(result) {
          if(result.isConfirmed) {
            form.submit()
            Swal.fire('Cancelado!', 'El servicio de transporte ha sido cancelado', 'success')
          } 
        })
        return false;
    }
  </script>
  
  {% endfor %}
</div>







{% endblock %}


