.form-control {
  border: radius;
  border-radius: 10px;
  border-color: rgb(171, 82, 0);
}

/* .card-default { */
/*   border: radius; */
/*   border-radius: 5px; */
/*   border-color: rgb(171, 82, 0); */
/* } */
