{% extends 'administration/layout_administration/list_base.html' %}
{% block interface_title %}Reservas{% endblock %}
{% block list_title %}{{ title }}{% endblock %}
{% load tags %}

{% block columns %}
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Check-in</th>
    <th scope="col">Check-out</th>
    <th scope="col">Creacion de Reserva</th>
    <th scope="col">Departamento</th>
    <th scope="col">Huesped</th>
    <th scope="col">Cod Reserva</th>
    <th scope="col">Monto Reserva</th>
    <th scope="col">Estado</th>
    <th scope="col">Editar</th>
  </tr>
{% endblock %}

{% block rows %}
  {% if object_list %}
    {% for r in object_list %}
      <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.check_in }}</td>
        <td>{{ r.check_out }}</td>
        <td>{{ r.date_joined }}</td>
        <td>{{ r.detalle_dpto.departamento.id }}</td>
        <td>{{ r.guest }}</td>
        <td>{{ r.booking_id }}</td>
        <td>${{ r.total_reserva | numberFormat }}</td>
        <td>
          {% if r.status == '1' %}
          <span class="bg-success text-white rounded-pill px-2">
            Activa
          </span>
          {% elif r.status == '2' %}
          <span class="bg-danger text-white rounded-pill px-2">
            Cancelada
          </span>
          {% else %}
          Error
          {% endif %}
        </td>
        <td>
          <a href="{% url 'administration_reserva_update' r.id %}" type="button" class="btn btn-warning btn-sm ">
            <i class="bi bi-pencil"></i>
          </a>
          
        </td>
      </tr>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No hay Datos para mostrar
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
  <td>${{ total | numberFormat }}</td>
  <td></td>
  <td></td>
  
</tr>

{% endblock %}

{% comment %}
{% block button_create %}
<a href="{% url 'administration_reserva_create' %}" class="btn btn-success">
  <i class="fas fa-plus"></i>
  Agregar reserva
</a>
{% endblock %}
{% endcomment %}
