{% extends 'administration/layout_administration/list_base.html' %}
{% block interface_title %}Reservas{% endblock %}
{% block list_title %}{{ title }}{% endblock %}
{% load tags %}

{% block columns %}
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Check-in</th>
    <th scope="col">Check-out</th>
    <th scope="col">Creacion de Reserva</th>
    <th scope="col">Departamento</th>
    <th scope="col">Huesped</th>
    <th scope="col">Cod Reserva</th>
    <th scope="col">Monto Reserva</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
  </tr>
{% endblock %}

{% block rows %}
  {% if object_list %}
    {% for r in object_list %}
      <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.check_in | date:"d/m/Y" }}</td>
        <td>{{ r.check_out | date:"d/m/Y" }}</td>
        <td>{{ r.date_joined | date:"d/m/Y" }}</td>
        <td>{{ r.detalle_dpto.departamento }}</td>
        <td>{{ r.guest }}</td>
        <td>{{ r.booking_id }}</td>
        {% if r.status == "1" %}
          <td>
            ${{ r.total_reserva | numberFormat }}
          </td>
          <td>
            <span class="bg-success text-white rounded-pill px-2">
              Activa
            </span>
          </td>
        {% elif r.status == "2" %}
          <td>
            <del>
              ${{ r.total_reserva | numberFormat }}
            </del>
          </td>
          <td>
            <span class="bg-danger text-white rounded-pill px-2">
              Cancelada
            </span>
          </td>
        {% elif r.status == "3" %}
          <td>
            ${{ r.total_reserva | numberFormat }}
          </td>
          <td>
            <span class="bg-warning text-white rounded-pill px-2">
              Terminada
            </span>
          </td>

        {% else %}
          <td>Error</td>
          <td>Error</td>
        {% endif %}

        <td>
          <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="editButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-sliders-h"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="editButton">
            <li>
              <a href="{% url 'administration_reserva_detail' r.id %}" class="dropdown-item">
                Detalle de Reserva
              </a>
            </li>
            <li>
              <a href="{% url 'administration_reserva_update' r.id %}" class="dropdown-item">
                Editar Reserva
              </a>
            </li>
            <li>
              <button class="dropdown-item" onclick="abrir_modal_edicion('{% url 'administration_reserva_status_edit' r.id %}')">
                Cambiar Estado
              </button>
            </li>
          </ul>
          
        </td>
      </tr>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No hay Datos para mostrar
    </div>
  {% endif %}
  <div class="modal fade pt-5" id="edicion" role="dialog" data-bs-backdrop="static">

  </div>
{% endblock %}



{% block footer %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
  <td>${{ total | numberFormat }}</td>
  <td></td>
  <td></td>
  
</tr>

{% endblock %}

{% block button_create %}
  {% if object_list %}
    <a class="btn btn-success" type="button" href="{% url 'reservas_excel_report' %}">
      <i class="fas fa-file-excel"></i>
      Exportar datos a Excel
    </a>
  {% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script> 
{% endblock %}
