{% load static %}
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content border border-2 border-warning">
    <div class="modal-header">
      <h3>
        <span>
          <i class="{{ icon }}"></i>
        </span>
        {{ title }}
      </h3>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <form action="{% url 'administration_reserva_status_edit' object.id %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        {{ form.status.label }}
        {{ form.status }}
      </div>

      <div class="modal-footer d-flex justify-content-start ">
        <button class="btn btn-success" type="submit">
          Guardar
        </button>

        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
          Cancelar
        </button>

      </div>
    </form>
  </div>
</div>
